@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Light */
    --color-light-50: #f8fafc;

    /* Dark */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    /* Purple */
    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;

    /* Gradient */
    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}

body{
    background-image: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}
.container{
    background:#f8fafc;
    height: 620px;
    margin: 0px 7px;
    margin-top: 5%;
    border-radius: 10px;
    -webkit-box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.35);
}
.container_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:140px;
}

.container_header h1{
    position: relative;
    font-size: 3em;
    font-weight: bolder;
}

.container_header h1::before{
    content: "";
    position: absolute;
    width: 40%;
    background: #7c3aed;
    height: 5px;
    bottom: 5px;
}

i#moon{
    font-size:2em ;
}


.icon_link{
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
}

.icon_link img{
    width: 60px;
}

.icon_link img:hover{
    transform: translate(2px, -5px);
    transition: transform, .4s;
}

form{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form h1{
    color: var(--color-dark-50);
}

i#icon{
    font-size: 1.5em;
    color: var(--color-dark-900);
}

input{
    padding: 5px;
    border:none ;
    background: transparent;
    border-bottom: 1px solid var(--color-purple-100);
    cursor: text;
    width: 250px;
    font-size: 1.2em
}

input:focus{
    outline: none;
}

.forgot_password{
    padding: 20px 0px;
}

.forgot_password a{
    text-decoration: none;
    font-size: 1.3em;
    color: #797984;
    margin: 10px 0px;
}

.forgot_password a:hover{
    color: var(--color-purple-100);
}

.login a{
text-decoration: none;
font-size: 2em;
background-color: #081f2d; 
border-radius: 29px; 
border: 1px solid #081F2D; 
color: white; 
font-size: 15px; 
padding: 15px 100px; 
cursor: pointer; 
transition: 0.3s; 
}
.login a:hover{ 
background-color: var(--color-purple-200); 
color:white; 
border-color:white; 
transition: 0.3s; 
}